.hero {
    text-align: center;
    font-size: 40px;
}

.list {
    border: solid 1px rgba(85, 177, 154, 0.2)
}

.list ul {
    padding-top: 0
}

.list-item {
    min-height: 100px;
}

.list-item_text {
    height: 100%;
    display: block;
    width: 100%;
    margin: 15px 0 15px 15px;
}

.item-title,
.item-sub {
    margin: 0;
}

.list-item_text-bolder {
    font-weight: bolder
}

.list-img {
    background-color: whitesmoke;
    width: 90px;
    padding: 4px;
    border-radius: 4px
}

.pagination {
    flex-Grow: 1
}

.pagination>:nth-child(2) {
    display: none;
}