.Appcontainer {
    margin: 0 auto;
    width: 800px;
}



.Appcontainer__item {
    min-height: 80px;
    display: block;
    width: 100%;
    padding: 2%
}

.Appcontainer__item span {
    font-size: 30px !important;
    padding: 10%;
}

.Avatar {
    border-radius: 0px
}

.root {
    max-Width: 400;
    flex-Grow: 1
}

.MuiMobileStepper-dot-136.MuiMobileStepper-dotActive-137 {
    display: none;
}